# fly.toml app configuration file generated for standupsnap on 2025-11-23T12:21:05+05:30
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'standupsnap'
primary_region = 'ord'

[build]
  dockerfile = 'Dockerfile.fly'

  [build.args]
    VITE_API_URL = 'https://standupsnap-backend.fly.dev/api'

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0

[[vm]]
  size = 'shared-cpu-1x'
