# fly.toml app configuration file generated for standupsnap-backend on 2025-11-23T11:41:13+05:30
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'standupsnap-backend'
primary_region = 'ord'

[build]
  dockerfile = 'Dockerfile.fly'

[env]
  NODE_ENV = 'production'
  PORT = '3000'

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0

[[vm]]
  memory = '512mb'
  cpu_kind = 'shared'
  cpus = 1
